.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  border: none;
  align-content: center;
  justify-content: center;
  border-radius: 12px;
}

.confirmButton {
  background: #61dafb;
  color: #000000;
}

.dangerButton {
  background: #ff3300;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonsContainer {
  width: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: space-evenly;
  margin-top: 2vmin;
}

.todo {
  margin-top: 2vmin;
  display: flex;
  width: 15%;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

input[type='text'] {
  border: none;
  padding: 0 5px;
  border-radius: 12px;
}

.bright {
  color: #ffffff;
}
